body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #4CAF50;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
  color: #d4d4d4;
}

main {
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

section:hover {
  transform: scale(1.02);
}

section h2 {
  border-bottom: 2px solid #4CAF50;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

section p {
  text-align: justify;
}

.about-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile-photo {
  width: 350px;
  height:350px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.profile-photo:hover {
  transform: rotate(10deg);
}

.project {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #e7f5ff;
  border-left: 4px solid #4CAF50;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

.project:hover {
  background-color: #d0ebff;
}

footer {
  background-color: #4CAF50;
  ;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .about-container {
      flex-direction: column;
      text-align: center;
  }

  .profile-photo {
      margin-bottom: 1rem;
  }
}
